<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sherry.taobao.gmall.product.mapper.SpuSaleAttrMapper">


    <resultMap id="spuSaleAttrMap" type="sherry.taobao.gmall.model.product.SpuSaleAttr" autoMapping="true">

        <id property="id" column="id"></id>
        <!--一对多-->
        <collection property="spuSaleAttrValueList" ofType="sherry.taobao.gmall.model.product.SpuSaleAttrValue" autoMapping="true">
            <id property="id" column="sale_attr_value_id"></id>
        </collection>

    </resultMap>
    <!--
        根据spuId 查询销售属性
       -->
    <select id="selectSpuSaleAttrList" resultMap="spuSaleAttrMap">
        select
            ssa.id,
            ssa.spu_id,
            ssa.base_sale_attr_id,
            ssa.sale_attr_name,
            ssav.id sale_attr_value_id,
            ssav.sale_attr_value_name
        from spu_sale_attr ssa inner join spu_sale_attr_value ssav
                                          on ssa.base_sale_attr_id = ssav.base_sale_attr_id
                                              and ssa.spu_id=ssav.spu_id
        where ssa.spu_id=#{spuId}


    </select>

    <!--
    根据spuId,skuId 获取销售属性数据
    -->
    <select id="selectSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrMap">
        select
            ssa.id,
            ssa.spu_id,
            ssa.base_sale_attr_id,
            ssa.sale_attr_name,
            ssav.id sale_attr_value_id,
            ssav.sale_attr_value_name,
            if(skav.sku_id is null ,0,1) as is_checked


        from spu_sale_attr ssa inner join spu_sale_attr_value ssav
                                          on ssa.base_sale_attr_id = ssav.base_sale_attr_id
                                              and ssa.spu_id=ssav.spu_id

                               left join sku_sale_attr_value skav on ssav.id=  skav.sale_attr_value_id
            and sku_id=#{skuId}

        where ssa.spu_id=#{spuId}
        order by ssa.base_sale_attr_id ,ssav.id

    </select>

</mapper>
